@{
    ViewData["Title"] = "Ninja Info Page";
}
<h1>Name: @ViewBag.Ninja.Name</h1>
<p>Ninja Level - @ViewBag.Ninja.Level</p>
<p>Description: @ViewBag.Ninja.Description</p>
<p>Current Dojo: <a href="dojo/@ViewBag.Ninja.dojo.Id">@ViewBag.Ninja.dojo.Name</a></p>